body
{
  background: none;
  font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
  background-color: #828f95;
}

#container
{
  margin-left: auto;
  margin-right: auto;
  background: #fff url(/images/witure//admin/bg-page.png) bottom repeat-x;
}

#content
{
  padding: 25px;
  padding-top: 0;
}

#menu
{
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
}

#menu li
{
  margin-right: 15px;
  display: inline;
}

#content h1
{
  padding: 0;
  background: transparent;
  margin-bottom: 20px;
  font-size: 140%;
  color: #000;
}

td, th
{
  padding: 7px;
}

th
{
  font-weight: bold;
}

#footer
{
  clear: both;
  padding: 25px;
  margin-top: 0;
  height: auto;
  font-family: arial,sans-serif;
  font-size: 80%;
  float: right;
  color: #666;
  background: none;
}

#footer img
{
  vertical-align: middle;
}

#sf_admin_container fieldset h2
{
  font-size: 110%;
  font-family: arial,sans-serif;
  font-style: italic;
}

.sf_admin_form_field_logo div div
{
  margin-left: 120px;
}

#sf_admin_container .sf_admin_form_field_logo div div label
{
  display: inline;
  float: none;
}

#header
{
  background: url(/images/witure/admin/bg-header.jpg) repeat-x top;
}

#header h1
{
  width: auto;
}
