#main {
	background: url(/img/lab/main.jpg) #FFFFFF no-repeat;
	margin-bottom: 50px;
	height: 550px;
	border: 12px solid #FFFFFF;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(60, 60, 60, 0.5);
	position: relative;
}